.quarto-title-block .quarto-title-banner {
  background-image: url(logo_nceas.svg),
                    url(logo_lh_hex.png),
                    linear-gradient(to top right, #5C9341, #167B62, #ff0000, #000000);
  background-size: 75px, 100px, 100% 100px;
  background-position: 10%, 90%, left;
  background-repeat: no-repeat, no-repeat;
  background-origin: content-box;
  height: 100px;
}
